*, *:before, *:after {
  box-sizing: border-box;
}

body { /* body */
  background-color: white;
  font-size: 12px;
  margin: auto;
}

.blue-container { /* Bus, Destination, Arriving */
  background-color: #1969bb;
  height: 50px;
  width: auto;
}

.container { /* iOS screen size */
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #efeff4;
}

h1 { /* Washington x State */
  text-align: center;
  line-height: 44px;
  font-size: 1.35em;
  font-family: sans-serif;
  font-weight: bold;
  color: #efeff4;
  display: inline-block;
  margin: auto;
  width: 68%;
}

h2 { /* Eastbound, Northbound, Southbound, Reroute, Out of Service */
  font-size: .9em;
  font-family: sans-serif;
  color: #efeff4;
  opacity: 0.5;
}

h3 { /* Bus, Destination, Arriving */
  font-size: 1.4em;
  font-weight: bolder;
  font-family: sans-serif;
  color: #efeff4;
  line-height: 50px;
}

h4 { /* Contents under each heading */
  font-size: 1.15em;
  font-family: sans-serif;
  font-weight: bold;
  color: #efeff4;
  line-height: 10px;
  padding-top: 4px;
}

h5 { /* "Back" */
  text-align: left;
  font-size: 1.1em;
  font-family: sans-serif;
  color: #efeff4;
  display: inline-block;
}

.map img { /* just the circle and star */
  padding-top: 5px;
  padding-left: 5px;
  display: inline-block;
}

.map p { /* words left top corner map */
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  color: #898989;
  padding-left: 5px;
  display: inline-block;
}

.statusbar { /* very tip top */
  background-color: #898989;
  height: 20px;
  width: 375px;
  position: inherit;
}

.row { /* green backgrounds */
  height: 39px;
  width: 365px;
  background-color: #2DC84D;
  border-radius: 19px;
  padding-top: 2px;
  margin: 5px 2.5px 5px 5px;
}

.reroute { /* different background color to signify reroute */
  height: 39px;
  width: 365px;
  background-color: #898989;
  border-radius: 19px;
  padding-top: 2px;
  margin: 5px 2.5px 5px 5px;
}

.outOfService { /* different background color to signify out of service */
  height: 39px;
  width: 365px;
  background-color: #F93822;
  border-radius: 19px;
  padding-top: 2px;
  margin: 5px 2.5px 5px 5px;
}

.line { /* Bus */
  width: 25%;
  display: inline-block;
  margin-right: -3px;
  padding-left: 20px;
}

.destination { /* Destination */
  width: 48%;
  display: inline-block;
  margin-right: -3px;
}

.frequency { /* Arriving */
  width: 27%;
  display: inline-block;
}

.map { /* image of chicago map */
  background-image: url("../images/chicago-map.png"); /*not working. why?*/
  background-position: right;
  width: 100%;
  height: 150px;
  position: relative;
}

nav { /* Washington x State nav*/
  background-color: #898989;
  height: 44px;
  width: 375px;
  position: relative;
}

nav img { /* images in div holding wash x state */
  width: auto;
  height: 18px;
  padding-left: 10px;
  display: inline-block;
}

i {
  padding-left: 10px;
  font-size: 1.7em;
  color: #efeff4;
  position: inline-block;
}
